body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: #ffffff;

    /* Disable all mobile gestures (e.g. double-tap zoom) */
    touch-action: none;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* TODO: Rename */
#background-canvas {
    z-index: 2;
}

#foreground-canvas {
    z-index: 1;
}

.centering-flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselectable-text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.pressed {
    background-color: #ccc !important;
}

.divbutton {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: rgb(100, 100, 100) 2px solid;
    /* stacked vertically combines top and bottom border to 2px */
    border-top-width: 1px;
    border-bottom-width: 1px;
    position: relative;
}

.divbutton-body {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: rgb(100, 100, 100);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
    pointer-events: none;
}

.layout-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.layout-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.layout-center {
    flex: 2;
    /*
        display: relative makes absolutely positioned
        children position relative to this element
    */
    position: relative;
    /*
        https://developer.mozilla.org/en-US/docs/Web/CSS/isolation
        This gives the .layout-center element it's own stacking context
        so that child elements that set z-indexes are relative to one another
        and not a part of global z-index stacking context.
    */
    isolation: isolate;
}

/* When game paused, .paused class is added to body element */
.paused .layout-center::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.25);
    z-index: 4;
}

.layout-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#title-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

#pause-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 32px;

    display: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink#css_polyfill */
@keyframes condemned_blink_effect {
    0% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }

/* When game paused, .paused class is added to body element */
.paused #pause-wrapper {
    display: block;
    animation: 2s linear infinite condemned_blink_effect;
}

#score-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;

    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

#start-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#button-start {
    border: 1px black solid;
    background-color: white;
    width: 40%;
    height: 20%;
}

#start-text {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: rgb(100, 100, 100);
    text-align: center;
}

#tutorial-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#tutorial {
    border: 1px black solid;
    background-color: white;
    width: 60%;
    height: 80%;
}

#tutorial-text {
    width: 90%;

    font-family: 'VT323', monospace;
    font-size: 32px;
    color: rgb(100, 100, 100);
    text-align: center;
}

#info-text {
    position: absolute;
    top: 5%;
    width: 100%;

    text-align: center;
    color: rgb(100, 100, 100);

    font-family: 'VT323', monospace;
    font-size: 30px;

    z-index: 2;
}

#info-canvas {
    position: absolute;
    top: 15%;
    left: 0px;
    height: 85%;
    z-index: 1;
}
